.view-notes {
    padding: 20px;
  }
  
  .view-notes ul {
    list-style-type: none;
  }
  
  .view-notes li {
    background-color: #f1f3f4;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  